* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, sans-serif;
}

body {
  background-color: hsl(200 20% 7%);
  color: white;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  width: 100%;
  max-width: 375px;
  padding: 25px;
  background: hsl(200 20% 10%);
  border-radius: 15px;
  box-shadow:
    20px 20px 60px hsl(200 20% 5%),
    -20px -20px 60px hsl(200 20% 15%);
}

.title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.5rem;
}

.display {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
  padding: 0 20px;
  height: 64px;
  background: hsl(200 30% 12%);
  box-shadow:
    inset 3px 3px 6px hsl(200 30% 6%),
    inset -3px -3px 6px hsl(200 30% 20%);
  border-radius: 15px;
  font-size: 40px;
  overflow-x: auto;
}

.keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}

.key {
  height: 50px;
  background: hsl(200 30% 20%);
  border: 0;
  border-radius: 10px;
  font-size: 20px;
  color: white;
  cursor: pointer;
  transition: all 0.1 ease;
  box-shadow:
    4px 4px 8px hsl(200 30% 6%),
    -3px -3px 5px hsla(200, 30%, 100%, 0.10);
}

.key:hover {
  transform: translateY(-2px);
  box-shadow:
    6px 6px 12px hsl(200 30% 4%),
    -4px -4px 8px hsla(200, 30%, 100%, 0.2);
}

.key:active {
  transform: translateY(1px);
  box-shadow:
    inset 2px 2px 4px hsl(200 30% 6%),
    inset -2px -2px 4px hsl(200 30% 32%);
}

.key--empty {
  visibility: hidden;
}
.key--eql {
  background: hsl(200, 50%, 25%);
  font-weight: bold;
}
